<%= form_with model: @workout, class: "mx-2 bg-card rounded-xl" do |f| %>
  <% if @workout.errors.any? %>
      <div class="text-red-600 p-4 md:text-xl flex flex-col gap-2">
        <h2 class="text-2xl"><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
        <ul class="flex flex-col gap-1">
          <% @workout.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="flex flex-col p-4 m-auto gap-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: "p-2 border-2" %>
  </div>
  <div class="bg-card flex flex-col p-4 m-auto gap-2" data-controller="workout-exercises">
      <div data-workout-exercises-target="test" class="flex flex-col gap-4">
          <%= f.fields_for :workout_exercises do |wef| %>
              <div data-workout-exercises-target="template" class="flex flex-col gap-4">
                <div class="border-1 p-1 w-fit">
                    <%= wef.collection_select :exercise_id, Exercise.all, :id, :name %>
                </div>
                <div>
                    <%= wef.label :sets %>
                    <%= wef.number_field :sets, class: "border-1 p-1" %>
                </div>
                <div>
                    <%= wef.label :reps %>
                    <%= wef.number_field :reps, class: "border-1 p-1" %>
                </div>
                <% if wef.object.persisted? %>
                <div>
                    <%= wef.label :_destroy, "Remove" %>
                    <%= wef.check_box :_destroy, class: "border-1 p-1" %>
                </div>
                <% end %>
              </div>
      <% end %>
      </div>
      <div class="mt-4">
          <button type="button" class="border-2 p-2" data-action="workout-exercises#addExercise">
              Add Exercise
          </button>
      </div>
  </div>
  <div class="p-4 m-auto">
    <%= f.submit class: "border-2 p-2" %>
  </div>
<% end %>
