<% provide(:title, "#{@workout.name}") %>
<div class="px-3 pt-3">
    <section class="flex flex-col gap-3">
        <% @workout_exercises.each do |e| %>
            <div class="bg-card flex px-4 py-2 rounded-xl">
                <div class="w-1/2">
                    <%= render "exercises/exercise", exercise: e.exercise %>
                </div>
                <div class="w-1/2 flex justify-center items-center gap-4">
                    <% e.sets.times do %>
                    <div class="w-6 h-6 flex items-center justify-center bg-check-set rounded-full text-xs font-bold">
                        <%= e.reps %>
                    </div>
                    <% end %>
                </div>
            </div>
            <% end %>
    </section>
    <section class="">
        <div class="my-2 py-4 px-2 bg-card rounded-xl">
            <h2>People who liked this workout</h2>
            <div class="flex gap-4 flex-wrap">
                <% @workout.likers.each do |liker| %>
                <div class="flex flex-col justify-center items-center">
                    <%= image_tag 'icons/profile.png', alt: 'Profile img' %>
                    <p class="text-gray-500 text-sm">@<%= liker.email.split('@').first %></p>
                </div>
                <% end %>
            </div>
        </div>
        <div class="flex gap-3">
            <% if user_signed_in? %>
                <% if current_user.likes.exists?(@workout.id) %>
                    <%= button_to 'Unlike', unlike_workout_path(@workout), method: :delete, class: 'bg-card flex justify-center items-center mt-4 px-4 py-2 rounded-xl' %>
                <% else %>
                    <%= button_to 'Like', like_workout_path(@workout), method: :post, class: 'bg-card flex justify-center items-center mt-4 px-4 py-2 rounded-xl' %>
                <% end %>
            <% end %>
        </div>
    </section>
    <%= render "workouts/shared/links", workout: @workout %>
</div>
