<%= form_with model: exercise, class: "mx-2 bg-card rounded-xl" do |f| %>
    <% if @exercise.errors.any? %>
        <div class="text-red-600 p-4 md:text-xl flex flex-col gap-2">
        <h2 class="text-2xl"><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>
        <ul class="flex flex-col gap-1">
            <% @exercise.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    <div class="flex flex-col p-4 m-auto gap-2">
        <%= f.label :name %>
        <%= f.text_field :name, class: "p-2 border-2" %>
    </div>
    <div class="flex flex-col p-4 m-auto gap-2">
        <%= f.label :description %>
        <%= f.rich_text_area :description, class: "p-2 border-2" %>
    </div>
    <div class="p-4 m-auto">
        <%= f.submit class: "border-2 p-2"%>
    </div>
<% end %>