<%= form_with model: exercise, class: "mx-2" do |f| %>
    <% if @workout.errors.any? %>
        <div class="text-red-500">
        <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
        <ul>
            <% @workout.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    <div class="flex bg-card flex-col p-4 m-auto gap-2">
        <%= f.label :name %>
        <%= f.text_field :name, class: "p-2 border-2" %>
    </div>
    <div class="flex bg-card  flex-col p-4 m-auto gap-2">
        <%= f.label :description %>
        <%= f.rich_text_area :description, class: "p-2 border-2" %>
    </div>
    <div class="p-4 bg-card m-auto">
        <%= f.submit class: "border-2 p-2"%>
    </div>
<% end %>